ksoap2-generating-stub/src/test/resources/ForString.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://forString.generator.ksoap2" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://forString.generator.ksoap2" xmlns:intf="http://forString.generator.ksoap2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://forString.generator.ksoap2" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="say">
    <complexType>
     <sequence>
      <element name="input" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayResponse">
    <complexType/>
   </element>
   <element name="say1">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="inputs" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="say1Response">
    <complexType/>
   </element>
   <element name="say2">
    <complexType>
     <sequence>
      <element name="greeting" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="say2Response">
    <complexType/>
   </element>
   <element name="say3">
    <complexType>
     <sequence>
      <element name="greeting" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="say3Response">
    <complexType>
     <sequence>
      <element name="say3Return" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayRequest">

      <wsdl:part element="impl:say" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="say2Response">

      <wsdl:part element="impl:say2Response" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="sayResponse">

      <wsdl:part element="impl:sayResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="say3Request">

      <wsdl:part element="impl:say3" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="say3Response">

      <wsdl:part element="impl:say3Response" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="say2Request">

      <wsdl:part element="impl:say2" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="say1Response">

      <wsdl:part element="impl:say1Response" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="say1Request">

      <wsdl:part element="impl:say1" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="ForString">

      <wsdl:operation name="say">

         <wsdl:input message="impl:sayRequest" name="sayRequest"/>

         <wsdl:output message="impl:sayResponse" name="sayResponse"/>

      </wsdl:operation>

      <wsdl:operation name="say1">

         <wsdl:input message="impl:say1Request" name="say1Request"/>

         <wsdl:output message="impl:say1Response" name="say1Response"/>

      </wsdl:operation>

      <wsdl:operation name="say2">

         <wsdl:input message="impl:say2Request" name="say2Request"/>

         <wsdl:output message="impl:say2Response" name="say2Response"/>

      </wsdl:operation>

      <wsdl:operation name="say3">

         <wsdl:input message="impl:say3Request" name="say3Request"/>

         <wsdl:output message="impl:say3Response" name="say3Response"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ForStringSoapBinding" type="impl:ForString">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="say">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="say1">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="say1Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="say1Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="say2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="say2Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="say2Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="say3">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="say3Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="say3Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ForStringService">

      <wsdl:port binding="impl:ForStringSoapBinding" name="ForString">

         <wsdlsoap:address location="http://localhost:8080/Ws2Ksoap/services/ForString"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
